<%= form_with(model: image_post) do |form| %>
  <% if image_post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(image_post.errors.count, "error") %> prohibited this image_post from being saved:</h2>

      <ul>
        <% image_post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
